// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.section-ttl {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  color: #dfcb8c;
  background: -webkit-linear-gradient(0deg, #b4bb8c, #ba6f87);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.line {
  width: 1px;
  height: 80px;
  background-color: #ba6f87;
  margin: 0 auto;
}