<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

    <div id="vue_slideupdown">
        <!-- vuejs-slidemenu -->
        <div class="cls_toggle_expand_collapse" v-on:click="toggleCtrlPanel">
            <i class="fa fa-caret-down"  v-if="isPanelShow"></i>
            <i class="fa fa-caret-right" v-if="!isPanelShow"></i>
            {{textToggle}}
        </div>
        <div class="menu_slide_accordion" v-if="isPanelShow">
            slideUp(), slideDown() したい内容を任意に書く。<br>
            純粋なhtmlでも良いし、<br>
            Vueの要素を書いても良い。<br>
        </div>
        <div>
            デモ。<br>
            <br>
            その他の要素。<br>
            この部分は、上部のメニューの開閉に伴ってアップダウンする。<br>
            ※こちらは「スライドアップ、スライドダウンの効果無し版」
        </div>
    </div>
