<style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');</style>

    <div class="wrapper flex">
  	  <main class="top">

        <section class="top-1">
          <img class="top_img" src="public/assets/FT_sitetop.jpg"></img>
          <div class="top-message-box">
            <div class="top-message">
            	Be Natural,</br>
            	Be Honest.
            </div>
          </div>
        </section>

        <section class="top-2">
          <div class="ttl-zone">
            <h2 class="section-ttl">RECOMMENDED ITEMS</h2>
          </div>
          <div class="line"></div>
          <div class="items-zone">
            	<% @items.each do |item| %>
            	<div class="items">
            	  <%= link_to item_path(item) do %>
            	  <%= attachment_image_tag item, :image, format: "jpeg", fallback: "no-image.png", size: "200x200" %>
            	    <p><%= item.name %></p>
            	    <p>
            	      <% tax_in = item.price * 1.10 %>
                    ¥<%= tax_in.round.to_s(:delimited) %>
                  </p>
            	  <% end %>
            	</div>
            	<% end %>
          </div>
        </section>

      </main>
    </div>