<section class="inner">
  <div class="section_admin ml1">
    <h2 class="section-ttl">管理者トップ</h2>
    <h1 class="admin_top-txt">
    	本日の注文件数
    	<%= link_to @count, admin_orders_path(created_at: 'today'), class: "underline" %>
    	件
    </h1>
  </div>
</section>